.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
  max-width: 700px;

  &__topSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
  }
}
