@use "../../partials/palette.scss";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 80%;
  max-width: 700px;

  &__topSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
  }

  &__addButton {
    padding: 3px 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
    background-color: palette.$yellow;
    transition: background-color 0.3s;

    &:hover {
      background-color: palette.$yellow2;
      transform: scale(0.99);
    }
  }
}
